/**
 * Carousel
 */

.client-carousel {
  background-color: $novo-light-grey;

  .owl-stage-outer {
    @extend .container;
    overflow: hidden;
  }

  .owl-nav {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    text-align: center;
    display: inline-block;
    padding: 28px 36px;

    @media (min-width: $screen-sm-min) {
      padding: 58px 36px;
    }
  }
}