/**
 * Carousel
 */

.client-carousel {
  position: relative;
  background-color: $novo-light-grey;
  text-align: center;

  li {
    padding: 28px 10px;
    @media (max-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}