/**
 * Clients
 */

.clients {
  background-color: $novo-light-grey;
  width: 100%;
  margin: auto;
  text-align: center;

  li {
    padding: 28px 36px;

    @media (min-width: $screen-sm-min) {
      padding: 58px 36px;
    }
  }
}