/**
 * Heading
 */

.heading {
  color: $heading-color;
  font-family: $font-face-montserrat;
  text-transform: uppercase;

  &.main-heading {
    margin: 0 0 55px;

    .last-word {
      font-weight: 700;
    }
  }
}