/**
 * Heading
 */

.heading {
  color: $heading-color;
  font-family: $font-face-montserrat;
  text-transform: uppercase;

  &.main-heading {
    margin: 0 0 55px;

    .last-word {
      font-weight: 700;
    }
  }

  &.sub-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;

    &.grey {
      color: $body-text-color;
      margin-bottom: 0;
    }
  }

  &.text-heading {
    text-transform: none;
  }

  &.page-heading {
    text-align: left;
    text-transform: none;
    font-weight: normal;
  }
  &.special-heading {
    margin-top: 0;
    font-size: 52px;
    font-weight: 700;
    color: $novo-turquoise;
  }
}