/**
 * Logo
 */

.logo {
  background-repeat: no-repeat;

  &.main-logo {
    display: inline-block;
    width: 130px;
    height: 58px;
    margin: 10px 0 10px 10px;

    background-image: url('../images/novo-construction-logo.png');
    background-size: 100%;

    @media (min-width: $screen-sm-min) {
      transition: 0.5s;
      margin: 10px 0;
      width: 210px;
      height: 94px;
    }

    .slimmer & {
      @media (min-width: $screen-sm-min) {
        height: 70px;
        width: 160px;
      }
    }
  }
}

.logo-container {
  @media (max-width: $ipad) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 102;
    background-color: $novo-blue;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
  }
  @media (min-width: $screen-sm-min) {
    float: left;
  }
}