/**
 * Footer widgets
 */

.widget {

  h3 {
    @extend .heading;
    font-size: 13px;
    color: #FFF;
    font-weight: 700;
  }

  &.widget_recent_entries {
    @media (min-width: $screen-md-min) {
      padding-left: 50px!important;
      padding-right: 50px!important;
    }

    ul {
      @extend .list;
    }
    li {
      border-bottom: 1px solid #FFF;
      a {
        padding: 10px 30px 10px 0;
        color: #FFF;
        outline: 0;
        position: relative;

        &:after {
          content: '\f105';
          font-family: $font-face-fontAwesome;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;
          margin: auto;
          height: 20px;
        }
      }
    }
  }
}
.widget_text {

  &.text-2 {
    h3 {
      height: 42px;
      text-indent: -999px;
      background-image: url('../images/novo-logo-no-text.png');
      background-repeat: no-repeat;
    }
  }
  &.text-3 {
    .textwidget {

      .mobile-text {
        display: none;
      }

      @media all and (max-width: 930px) {
        .footer-email {
          .email-address {
            display: none;
          }
          .mobile-text {
            display: inline-block;
          }
        }
      }
      p {
        position: relative;
        padding-left: 25px;

        &:before {
          position: absolute;
          font-family: $font-face-fontAwesome;
          top: 0;
          left: 0;
        }
        // Address
        &:first-child {
          &:before {
            content: '\f041';
          }
        }
        // Telephone
        &:nth-child(2) {
          &:before {
            content: '\f095';
          }
        }
        // Email
        &:nth-child(3) {
          &:before {
            content: '\f0e0';
          }
        }
      }
    }
  }
}
