/**
 * Form
 */

.form {

  &.stacked-form {
    margin-top: 50px;

    label {
      display: block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      color: $header-text-grey;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=date],
    input[type=month],
    input[type=time],
    input[type=datetime],
    input[type=datetime-local],
    input[type=week],
    input[type=number],
    input[type=search],
    input[type=tel],
    input[type=color],
    textarea {
      margin: 5px 0 0;
      padding: 10px 12px;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #ebebeb;
      outline: 0;
      border-radius: 2px;
      font-size: 16px;
    }
    .form-group {
      margin-bottom: 20px;
      position: relative;
    }
    .required {
      label {
        &:after {
          content: '(required)';
          padding-left: 5px;
          display: inline-block;
        }
      }
    }

    input[type="submit"] {
      @extend .btn;
      @extend .btn-find-more;
      margin-top: 0;
    }
  }
  .message-subject {

    select {
      padding: 10px 12px;
      width: 100%;
      background: transparent;
      border: 1px solid #ebebeb;
      border-radius: 0;
      font-size: 16px;
      appearance: none;
    }
    + .fa {
     position: absolute;
      right: 15px;
      bottom: 14px;
      z-index: 99;
    }
  }

}

/**
 * Validation
 */
.wpcf7-response-output {
  margin: 2em 0 1em !important;
  padding: 0.6em 1em;

  &.wpcf7-validation-errors {
    @extend .bg-warning;
    color: #9F6000;
    border: 1px solid #FEEFB3;
  }
  &.wpcf7-mail-sent-ok {
    @extend .bg-success;
    color: #4F8A10;
    border: 1px solid #398f14;
  }
}
