.list {
  margin: 0;
  padding: 0;

  li {
    display: block;
  }
  a {
    display: block;
  }

  &.horizontal-list {
    li {
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
    }
  }
  &.category-list {
    padding: 25px 15px;

    .category {
      border: 0;
      background-color: transparent;
      position: relative;
      outline: 0;
      &:after {
        content: '/';
        position: absolute;
        left: 100%;
      }
      &.is-active {
        color: $novo-turquoise;
        &:after {
          color: $body-text-color;
        }
      }
    }
  }
  &.project-detail-list {
    background-color: #f9f9f9;
    padding: 20px 25px;

    dt {
      float: left;
      width: 20%;
      padding: 10px 0;
    }
    dd {
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #f2f2f2;
      &.last {
        border-bottom: 0;
      }
    }
    a {
      display: inline-block;
    }
  }

}