/**
 * Global
 */

body {
  color: $body-text-color;
  font-family: $font-face-open-sans;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {

  &:hover {
    color: $brand-primary !important;
    text-decoration: none;
  }
}