// Glyphicons font path
$icon-font-path:        "../fonts/";

// Fonts
$font-face-montserrat:  'Montserrat', sans-serif;
$font-face-open-sans:   'Open Sans', sans-serif;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$novo-blue:             #241c57;
$novo-turquoise:        #1cbac8;
$body-text-color:       #999;
$heading-color:         #333;
$header-text-grey:      #777;