/**
 * Page
 */

.content {
  @media (min-width: $screen-sm-min) {
    margin-top: 55px;
  }
}

.page-header {
  text-align: center;
  color: $body-text-color;
  border: 0;
  margin: 0;
  padding-top: 83px;
  @media (min-width: $screen-sm-min) {
    padding-top: 119px;
  }

  .wrap {
    margin: 55px auto 20px;
  }

  p {
    font-size: 17px;
  }
}

.banners + .page-header {
  padding-top: 0;
}
